/* start global  */

body{height: 1000px;}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width:90%;
    margin: auto;
}

a{text-decoration: none;}

/*  end global   */

/* start header */

.header-logo-nav{
    background:#555555;
    color:#fff;
    position: fixed;
    width: 100%;
    z-index: 4;

}

.header-logo{
    width: 142px;
    font-size: 22px;
    float: left;
    overflow: hidden;
    letter-spacing: 8px;

}

.header-logo:first-letter{
    color: #1c2939;
    font-size: 45px;
}



.header-nav{
    text-align: right;
    overflow: hidden;
    float: right;
}

.header-nav-lg{
    list-style-type: none;
    overflow: hidden;
}

.header-nav-lg li{
    float: left;
    overflow: hidden;    
}

.header-nav-lg li a{
    text-decoration: none;
    color: #fff;
    padding: 13px;
    font-size: 20px;
    float: right;
    
}

.header-nav-lg li a:hover {background:#1c2939;}

.header-nav-lg li a:active {background:#5aa502;}

.header-nav-lg li a img{
    width: 20px;
    height: 20px;
}

.header-nav-lg li a span{
    padding: 5px;
}

.header-nav-group{
    display:none;
}

.header-img{
    background: #1c2939;
    position: relative;
    top: 50px;
}

.header-img .container{
    height: 381px;
    padding-top: 50px;
}


.header-img .imgs{

    width: 335px;
    height: 330px;
    position: relative;
    overflow: hidden;
    border-radius: 165px;
    float: right;
}



.header-img .imgs img{
    position: absolute;
    top: -118px;
    left: -146px;
}

.header-img .imgs .i1 {
    display: block;
}
.header-img .imgs  .i2{
    display: none;
}


.header-img-overly{
    position: absolute;
    
}

.header-title-par{
    color:#fff;

}

.header-title-par h3{
    font-size: 80px;

}
.header-title-par p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.header-title-par  a{
    padding: 17px 49px;
    border: 3px solid #fff;
    color: #fff;
    margin-right: 8px;
    display: inline-block;  
}

.header-title-par  a:hover{
    background: #fff;
    color: #000;
}

.header-title-par  a:active{
    background: #5aa502;
    color: #fff;
}


/*     test     */

/* end header   */







/* start global 

body{
    background-color: #1d2a3a;
    font-family: Arial, Helvetica, sans-serif;

}

body ,div ,h2 ,ul ,ol ,h3 ,p{
    margin: 0px;
    padding: 0px;
}

ul ,ol {
    list-style-type:none;
}

h2 ,h3{
    font-size: 30px;
}

h2 ,h3 ,p{
   color: #fff;
}

p{
    padding-top: 10px;
    font-size: 20px;
}

.clearfix{
    clear: both;
}

/* end global */

/* start header 

.header{
    border-bottom: 1px solid #6b7986;
}

.header-nav{
    padding: 10px;
    background-color:#555555;
    
}

.header-logo{
    width:18%;
    float: left;
    margin-right: 2%;
}


.header-links{
    width:79%;
}

.header-links,li{
    float: left;

}

.header-links li a {
    padding:20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-links li a:hover{background-color: #000000;}

.header-links li a:active{background-color: #4caf50;}

.header-links li a img{
    width: 20px;
    height: 20px;
    padding-right:8px;
}


.header-img img{
    width: 350px;
    height: 350px;
    float: right;
}
/* end header 

/* start service 

.service{
    overflow: hidden;
    padding:1%;
}

.section{
    background-color: #6b7986;
    float: left;
    width: 32.334238%;
    margin: .5%;
    border-radius: 10px;
}



/* end service */